// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main-wrapper {
  margin-left: 25px;
}

.title-index {
  margin-bottom: 25px;
}

ul{
  list-style: none;
}

.vinculos {
  text-decoration: none;
}
.btn-new {
  margin-top: 10px;
  display: inline-block;
}