.btn {
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 6px;
  font-weight: bold;
}

.btn-return {
  background-color: rgb(0, 247, 255);
  color: black;
}

.btn-edit {
  background-color: rgb(226, 15, 15);
  color: white
}

.btn-new {
  background-color: rgb(59, 59, 243);
  color: white;
}

